@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 4%;
  background-color: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
}


header {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  height: 6.255rem;
}


a h1 {
  font-size: 1.879rem;
  color: #0290ff;
  font-weight: 700;
}

.container {
  padding: 0 40px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

ul li,
a {
  list-style-type: none;
  text-decoration: none;
}

ul li a {
  padding: 20px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-size: 0.852rem;
  color: #1212128c;
}

ul li a:hover {
  color: #121212;
}

ul li a:focus {
  color: #121212;
}

.fa-user {
  color: #0290ff;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  width: 2.813rem;
  height: 2.813rem;
  cursor: pointer;
  justify-content: center;
}

.bg {
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  border: 1px solid #e8e8e8;
  padding: 40px;
  margin-bottom: 25px;
  border-radius: 8px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 250px 70px 220px;
}

.card .book-status {
  font-weight: 700;
  color: #121212;
  opacity: 0.5;
}

.card .book-title {
  font-weight: 700;
  font-size: 1.475rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.9px;
  margin-top: 8px;
}

.card .book-author {
  font-family: 'Roboto Slab', serif;
  font-size: 0.797rem;
  letter-spacing: 0.8px;
  color: #4386bf;
}

button {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
}

.hr {
  font-weight: 400;
  background-color: #e8e8e8;
  width: 0.125rem;
  height: 1.5rem;
  margin: 0 1rem;
}

.horizontal-rules {
  font-weight: 400;
  background-color: #e8e8e8;
  width: 100%;
  height: 0.125rem;
  margin: 0 1rem;
}

.divide {
  background-color: #e8e8e8;
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 1rem;
}

.mt-8 {
  margin-top: 32px;
}

.scale {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: rgb(48, 123, 190);
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.percent {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2.9px;
}

.mx-4 {
  margin: 0 28px;
}

.completed {
  font-size: 0.875rem;
  opacity: 0.5;
}

.c-chapter {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #121212;
  text-transform: uppercase;
  font-size: 0.813rem;
  opacity: 0.5;
  margin-bottom: 12px;
}

.chapter {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  font-weight: 300;
  color: #121212;
}

.btn {
  color: #4386bf;
  border: none;
  background-color: transparent;
}

.btn-bg {
  margin-top: 25px;
  color: #fff;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding: 8px 24px;
}

.add-book {
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1.298rem;
}

input,
.input {
  margin-right: 30px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
  font-family: "Montserrat", sans-serif;
}

.infut {
  width: 20%;
}

.category {
  width: 20%;
}

.btn-add {
  font-weight: 600;
  text-transform: uppercase;
  width: 20%;
  height: 2.61rem;
}

form {
  margin-bottom: 40px;
  padding: 0;
}
